<?xml version="1.0" encoding="UTF-8"?>
<launch>
    
    

    <arg name="x" value="0"/>
    <arg name="y" value="0"/>
    <arg name="z" value="1"/>

    
    <arg name="debug" default="false" />
    <arg name="gui" default="false" />
    <arg name="pause" default="false" />
    <arg name="world" default="$(find robot_struct)/world/walls.world"/>
    
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="$(arg debug)"/>
    <arg name="gui" value="true" />
    <arg name="paused" value="$(arg pause)" />
    <arg name="world_name" value="$(arg world)" />
    <arg name="use_sim_time" value="true"/>
    </include>
    
</launch>