<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- spawning the bot in gazebo and converting to urdf -->
    <param name="robot_description" command="$(find xacro)/xacro $(find robot_struct)/urdf/rob.xacro" />

    <arg name="x" value="0" />
    <arg name="y" value="0" />
    <arg name="z" value="1" />

    <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model rob -x $(arg x) -y $(arg y) -z $(arg z)" />

    <node pkg="logic" name="lasersub" type="lasersub.py" output="screen" />

    <!-- Rviz nodes -->
    <node name="joint_state_publisher" type="joint_state_publisher" pkg="joint_state_publisher"></node>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <node name="rviz" pkg="rviz" type="rviz" required="true" />


    <!-- arguments to launch our world -->
    <arg name="debug" default="false" />
    <arg name="gui" default="false" />
    <arg name="pause" default="false" />
    <arg name="world" default="$(find robot_struct)/world/walls.world" />

    <!-- including gazebo_ros launcher from package-->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="true" />
        <arg name="paused" value="$(arg pause)" />
        <arg name="world_name" value="$(arg world)" />
        <arg name="use_sim_time" value="true" />
    </include>


</launch>
